body{
        background-image: url('world2.jpg') ;
        font-family: Verdana, monospace, sans-serif;
        background-repeat: repeat;
        font-size: 20px;
        font-weight: bold;
        text-align: justify;


}